<%- include('../../partials/header.ejs') %> <%-
include('../../partials/homeNavbar.ejs') %>

<body>
  <div class="container">
    <br />
    <div
      id="selectFilter"
      class="card shadow p-0 mb-5 bg-body-tertiary rounded select-escondido"
    >
      <dic class="card-header">Filtrar por Categoria</dic>
      <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/"> Todas </a>
        <% categories.forEach(category => {%>
        <a
          class="list-group-item list-group-item-action"
          href="/category/<%= category.slug %>"
          id="<%= category.slug %>"
        >
          <%= category.title %>
        </a>

        <% })%>
        <!-- <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button> -->
      </div>
    </div>

    <div class="card border border-0">
      <div class="card-body shadow p-3 mb-5 bg-body-tertiary rounded">
        <div id="titulo" class="">
          <div></div>
          <h3>Artigos Diversos</h3>
          <button class="btn btn" id="abrirFilter">
            <img
              src="/icons/filter.svg"
              height="30"
              title="Filtrar por Categoria"
            />
          </button>
        </div>
      </div>
    </div>

    <%if(result.articles.rows.length > 0) {%> <%
    result.articles.rows.forEach(article => { %>
    <div class="card border border-0">
      <div class="card-body shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-header shadow-none p-3 bg-body-tertiary rounded">
          <h2><%= article.title %></h2>
        </div>
        <br />
        <a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a>
      </div>
    </div>
    <% }) %> <%} else {%>
    <div class="card border border-0">
      <div
        class="card-body shadow p-3 mb-5 bg-body-tertiary rounded d-flex justify-content-center"
      >
        <h4>Não existe artigos relacionados a essa categoria :/</h4>
      </div>
    </div>
    <%}%>

    <div class="row">
      <div class="col col-12">
        <%if(result.page > 2) { %>
            <a href="/articles/page/<%= result.page - 1 %>"><< Prev</a>
        <%} else if(result.page == 2) { %>
            <a href="/"><< Prev</a>
        <% } %>
        
        <% if(result.next) { %>
            <a style="float: right" href="/articles/page/<%= result.page + 1 %>">Next >></a>
        <% }%>
      </div>
    </div>
    <hr />
  </div>
</body>

<%- include('../../partials/footer.ejs') %>

<script>
  var botaoAbrir = document.getElementById("abrirFilter");
  var select = document.getElementById("selectFilter");
  var titulo = document.getElementById("titulo");

  botaoAbrir.addEventListener("click", () => {
    select.classList.toggle("select-escondido");
  });

  document.addEventListener("DOMContentLoaded", () => {
    const altura = window.screen.height;
    const largura = window.screen.width;
    // 608 x 1075 dimensão da tela do notebook
    console.log(largura);
    if (largura <= 1366) {
      select.classList.toggle("select-escondido");
      botaoAbrir.classList.toggle("select-escondido");
      titulo.classList.toggle("tituloCentralizado");
    } else {
      titulo.classList.toggle("tituloCentralizadoComBotao");
      var rota = window.location.pathname.substring(1);
      const id = rota.slice(9);
      const el = document.getElementById(id);
      el.classList.add("categoriaSelecionada");
    }
  });
</script>

<style>
  #selectFilter {
    width: 15rem;
    float: right;
    margin-right: -15.8rem;
    animation: myAnim 1s;
  }

  .select-escondido {
    display: none;
  }

  .tituloCentralizado {
    display: flex;
    justify-content: center;
  }

  .tituloCentralizadoComBotao {
    display: flex;
    justify-content: space-between;
  }

  .categoriaSelecionada {
    background-color: #f3f0f0;
  }

  @keyframes myAnim {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
  }
</style>
