<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <div class="card mt-5">  
        <div class="card-header">
            Alterar Dados de Usuário
        </div>
        <div class="card-body">
            <form action="/user/update" method="post"  onsubmit="comparar(event, this)">
                <input type="hidden" name="id" value="<%= user.id %>">
                <label>Email*</label>
                <input type="email" class="form-control" name="email" placeholder="exemplo@gmail.com" value="<%= user.email %>">
                <label>Senha*</label>
                <input id="senha" type="password" class="form-control" name="password" placeholder="nova senha">
                <br>
                <input id="senhaConfirmacao" type="password" class="form-control" placeholder="repita a senha">
                <br>
                <button type="submit" class="btn btn-success btn-block" >Alterar</button>
            </form>
            
        </div>
    </div>
</div>

<script>
    function comparar(event, form) {
        event.preventDefault();
        const senha = document.getElementById("senha");
        const senhaConfirmacao = document.getElementById("senhaConfirmacao");

        if(senha.value === senhaConfirmacao.value) {
            form.submit();
        } else {
            alert('As senhas não estão iguais')
        }
    }
</script>

<%- include('../../partials/footer.ejs') %>


